<h3>Ваши результаты</h3>

<table border="1">
    <caption>Таблица разультатов</caption>
    <tr>
        <th>Имя студента</th>
        <th>Первое задание</th>
        <th>Второе задание </th>
        <th>Итого баллов (с учетом сроков сдачи)</th>
    </tr>
    <tr><td>Иванов Алексей</td><td>4,5</td><td>4</td><td>86</td></tr>

    <h2>Студент: Иванов Алексей</h2>
    <p><a class="btn btn-default" href="@Url.Action("LogOut","Home")">Завершить сессию &raquo;</a></p>
</table>