@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Численные методы</h1>
        <p class="lead">Добро пожаловать в электронно образовательный ресурс по курсу "Численные методы".</p>
        <p><a class="btn btn-default" href="@Url.Action("Login","Home")">Войти &raquo;</a></p>

    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Получите больше библиотек</h2>
        <p>NuGet-это бесплатное расширение Visual Studio, которое позволяет легко добавлять, удалять и обновлять библиотеки и инструменты в проектах Visual Studio.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Изучите больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Веб-хостинг</h2>
        <p>Вы можете легко найти веб-хостинг-компанию, которая предлагает правильное сочетание функций и цены для ваших приложений.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Изучить больше &raquo;</a></p>
    </div>
</div>