
@{
    ViewBag.Title = "Login";
}

<h2>Войти</h2>
<form method="post" action="LoginUser">
    <table>
        <tr>
            <td>Фамилия:</td>
            <td><input class="input-sm" name="inputFirstName" /></td>
        </tr>
        <tr>
            <td>Имя:</td>
            <td><input class="input-sm" name="inputName" /></td>
        </tr>
        <tr>
            <td>Отчество:</td>
            <td><input class="input-sm" name="inputLastName" /></td>
        </tr>
        <tr>
            <td>Пароль:</td>
            <td><input class="input-sm" name="inputPassword" /></td>

        </tr>
        <tr>
            <td><input class="btn btn-default" type="submit" value="Войти" /></td>
        </tr>

    </table>
</form>
