<h3>Тесты по дисциплине Численные методы</h3>
<form>
    <p><b>Простейшим методом нахождения корней уравнения f(x)=0</b></p>
    <p><input name="test1" type="radio" value="p1"> Метод деления пополам</p>
    <p><input name="test1" type="radio" value="p2"> Метод сложения</p>
    <p><input name="test1" type="radio" value="p3"> Метод исчерпывающих</p>
    <p><input name="test1" type="radio" value="p4" checked> Не существует</p>


    <p><b></b>Отметьте верные утверждения</b></p>
    <p><input type="checkbox" name="a" value="1417"> Обращение производной в 0 в точке является необходимым условием локального экстремума.</p>
    <p><input type="checkbox" name="a" value="1680"> Функциональная зависимость - ключевое понятие математики.</p>
    <p><input type="checkbox" name="a" value="1883"> К недостаткам метода деления пополам следует отнести его низкую надежность и сложность.</p>
    <p><input type="checkbox" name="a" value="1934" checked> Сходимость метода касательных квадратичная, порядок сходимости равен 2.</p>
    <p><input type="checkbox" name="a" value="2010"> Для метода Ньютона нет необходимости вычисления производных на каждом шаге.</p>
    <p><input type="submit" value="Отправить"></p>


</form>

