
@{
    ViewBag.Title = "Страница пользователя";
}

<h1>Добрый день, Преподаватель! Ваши лекции на тему: Численные методы</h1>;
<h2>Результаты тестирования студентов </h2>

<table border="1">
    <caption>Таблица разультатов</caption>
    <tr>
        <th>Имя студента</th>
        <th>Первое задание</th>
        <th>Второе задание </th>
        <th>Итого баллов (с учетом сроков сдачи)</th>
    </tr>
    <tr><td>Габдулисламов Данил</td><td>4</td><td>5</td><td>93</td></tr>
    <tr><td>Иванов Алексей</td><td>4,5</td><td>4</td><td>86</td></tr>
    <tr><td>Фадеев Игорь</td><td>5</td><td>4</td><td>90</td></tr>
</table>
    



<h2>Преподаватель: Гафиятуллин Самат Рафкатович</h2>
<p><a class="btn btn-default" href="@Url.Action("LogOut","Home")">Завершить сессию &raquo;</a></p>

